<!DOCTYPE html>
<html lang="en-EN">
<head>
  <title>User Profile</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container py-4">

  <div class="row">
    <div class="col-12">
      <div class="user-info d-flex justify-content-between">
        <div class="mr-3">
          <% if @user.photo && @user.photo.match(/\.(png|jpg|jpeg|gif)$/i) %>
            <img src="<%= @user.photo %>" alt="User Photo" class="user-photo" style="width: 80px; height: 80px;">
          <% else %>
            <div class="user-photo" style="width: 150px; height: 150px;">User<%= @user.id %> Pic</div>
          <% end %>
        </div>
        <div class="d-flex justify-content-between border p-3 w-75">
          <h1><%= @user.name %></h1>
          <p class="mt-4"><%= link_to "Number of posts: #{@user.posts_counter}", user_posts_path(@user), class: "text-muted" %></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Bio Section -->
  <div class="row">
    <div class="col-12 my-3">
      <div class="p-3 border rounded bio-section">
        <h5><%= @user.name %> Bio</h5>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>

  <!-- Posts Section -->
  <% @recent_posts.each do |post| %>
    <div class="row">
      <div class="col-12 post-item">
        <div class="p-3 mt-2 border rounded">
          <h6>Post <%= post.id %></h6>
          <h3><%= post.title %></h3>
          <p><%= post.text %></p>
          <p class="text-muted text-right">Comments: x, Likes: y</p>
        </div>
      </div>
    </div>
  <% end %>

<div>
  <div class="container mt-4">
    <div class="row">
      <div class="col text-center mb-3">
        <%= link_to "See all posts", user_posts_path(@user), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
