<!DOCTYPE html>
<html lang="en-EN">
<head>
  <title>User Posts</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container py-4">
  <div class="row d-flex justify-content-between mb-2">
    <div class="mr-3">
      <% if @user.photo && @user.photo.match(/\.(png|jpg|jpeg|gif)$/i) %>
        <img src="<%= @user.photo %>" alt="User Photo" class="user-photo" style="width: 80px; height: 80px;">
      <% else %>
        <div class="user-photo" style="width: 80px; height: 80px;">User<%= @user.id %> Pic</div>
      <% end %>
    </div>
    <div class="d-flex justify-content-between border p-3 w-75">
      <h1><%= @user.name %></h1>
      <p class="mt-4 text-muted"><%= link_to "Number of posts: #{@user.posts_counter}", user_posts_path(@user), class: "text-muted" %></p>
    </div>
  </div>

  <div class="row">
    <% if @posts.empty? %>
      <div class="col-sm-12 border rounded my-1">
        <p class="user-name">There are no posts available for this user.</p>
      </div>
    <% else %>
      <% @posts.each do |post| %>
        <div class="col-sm-12 border rounded my-1">
          <h6 class="user-name pt-3">
            <%= link_to "Post #{post.id}", user_post_path(@user, post), title: "To Post Details", class: "text-muted" %>
          </h6>
          <h3>
            <%= post.title %>
          </h3>
          <p>
            <%= post.text %>
          </p>
        </div>

        <div class="col-sm-12 border rounded mb-5">
          <h4>Comments:</h4>
          <% if post.comments.empty? %>
            <p>This post has no comments.</p>
          <% else %>
            <% post.recent_comments.each do |comment| %>
              <p>
                <%= comment.user.name %>: <%= comment.text %>
              </p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col text-center mb-3">
        <%= link_to "Pagination", user_path(@user), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
